doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node, express and docker
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css")
        link(rel="stylesheet" href="/static/assets/main.css")
        link(rel="shortcut ico" href="/static/images/favicon.ico")
    body(style="display: flex; min-height:100vh; flex-direction: column") 
        script(defer src="https://kit.fontawesome.com/2268c379d5.js") 
        include navbar.pug 
        block hero 
        block content 
        include footer.pug