nav.navbar.is-link 
    .container 
        .navbar-brand 
            figure.is-128x128.navbar-item
                img.is-rounded(src="/static/logo/logo.png" alt="logo") 
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x