extends layout.pug 

block hero
    section.hero.is-link.has-text-centered
        .hero-body 
            .container 
                h1.title Node and docker 
                h2.subtitle Find the best products a the best price 

block content 
    .container
        .columns(style="margin: 2rem; gap: 1rem") 
            each product in products
                .columns
                    .card(style="margin: 1rem;") 
                        .card-image 
                            figure.image.is-4by3
                                    img(src=product.image)
                        .card-content
                            .media-content 
                                h1.is-4.title= product.name
                                .button.is-fullwidth.is-primary 
                                    span.icon 
                                        i.fas.fa-shopping-cart
                                    span Add to cart 
                                        strong= `${product.price} USD`